lab11/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    GAME*,
    DEVELOPER*,
    DEVELOPER_GAME*)>

<!ELEMENT GAME EMPTY>
<!ATTLIST GAME
    ID CDATA #REQUIRED
    TITLE CDATA #IMPLIED
    DIRECTORNAME CDATA #IMPLIED
    DIRECTORSURNAME CDATA #IMPLIED
    COMPANY CDATA #IMPLIED
    PRICE CDATA #IMPLIED
    DEVELOPED CDATA #IMPLIED
>

<!ELEMENT DEVELOPER EMPTY>
<!ATTLIST DEVELOPER
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT DEVELOPER_GAME EMPTY>
<!ATTLIST DEVELOPER_GAME
    DEVELOPER_ID CDATA #REQUIRED
    GAMES_ID CDATA #REQUIRED
>

